{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<h1 class="subpage-heading">Log In</h1>
<form method="post" class="login-form">{% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Log In</button>
</form>
<p class="my-1"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>

<div class="description mt-5" align='center'>
    <h1>Activity tracking that's easy and effortless</h1>
    <h3 class='lead'>Take control of your time. Eliminate bad habits and cultivate good ones. Start today!</h3>
    <a href="{% url 'signup' %}" class="btn btn-secondary px-4 my-3 custom-secondary-btn">Create Account</a>
</div>

{% endblock content %}
