{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}Activities{% endblock title %}

{% block content %}
<h1 class="subpage-heading">Your activities</h1>
<div class="activity-list-container">
  <div class="d-flex my-4" id="search-container">
    <input class="form-control me-2" type="search" placeholder="Search activity..." aria-label="Search"
        id="search-input">
        <button class="btn btn-secondary" data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">Filters</button>
  </div>
  <div class="collapse" id="filters">
    <div class="d-flex justify-content-center align-items-center gap-4">
      <div class="type-filters-container">
        <select class="form-select" id="type-filter">
          <option value="" selected>Every type</option>
          <option value="positive">Positive</option>
          <option value="neutral">Neutral</option>
          <option value="negative">Negative</option>
        </select>
      </div>
      <div class="favorite-filter-container">
        <input type="checkbox" name="favorite-filter" id="favorite-filter" class="mx-1"><label for="favorite-filter">Show favorites</label>
      </div>
    </div>

  </div>
    <div class="new-activity-section mx-auto my-5">
      <div class="text-center"><button class="btn btn-secondary" data-bs-toggle="collapse" href="#new-activity" role="button" aria-expanded="false" aria-controls="new-activity">+ New activity</button></div>
    <div class="collapse" id="new-activity">
      <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="text-center">
        <button class="btn btn-success ml-2" type="submit">Save</button>
      </div>
      </form>
    </div>
  </div>

  <div class="activities-container">
    {% for activity in activity_list %}
    <div class="card activity-card my-4">
      <div class="card-header d-flex align-items-center justify-content-center">

          <p class="activity-title">{{ activity.title }} </p>

        <span class="ms-2 {{ activity.type }}">{{ activity.type }}</span>
      </div>
      <div class="card-body">
        {{ activity.description }}
      </div>
      <div class="card-footer text-center text-muted d-flex flex-column flex-md-row gap-2 justify-content-center">
        <a href="{% url 'activity_track' activity.pk %}"><button class="btn btn-secondary w-100 w-md-auto">Track</button></a>
        <a href="{{ activity.get_absolute_url }}"><button class="btn btn-secondary w-100 w-md-auto">Statistics</button></a>
        <a href="{% url 'activity_edit' activity.pk %}"><button class="btn btn-secondary w-100 w-md-auto">Edit</button></a>
        <a href="{% url 'activity_delete' activity.pk %}"><button class="btn btn-secondary w-100 w-md-auto">Delete</button></a>
        <form action="{% url 'activity_favorite_toggle' activity.id %}" method="post" class="favorite-form">
          {% csrf_token %}
          <input type="hidden" name="favorite" value="{{ activity.favorite }}" class="is-favorite">
          <button type="submit" class="btn favorite-btn material-symbols-outlined {% if activity.favorite %}favorite{% endif %}" >
            favorite_border
          </button>
        </form>


      </div>
    </div>
    {% endfor %}
  </div>
</div>




<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const searchInput = document.getElementById('search-input');
    const typeFilter = document.getElementById('type-filter');
    const favoriteFilter = document.getElementById('favorite-filter');
    console.log(favoriteFilter)
    const activityCards = document.querySelectorAll('.activity-card');

    function filterActivities() {
      const searchQuery = searchInput.value.toLowerCase();
      const selectedType = typeFilter.value;
      const onlyFavorites = favoriteFilter.checked;
      console.log('checkbox in search: ', onlyFavorites)

      activityCards.forEach(card => {
        const title = card.querySelector('.activity-title').textContent.toLowerCase();
        const activityType = card.querySelector('span').textContent;
        const isFavorite = card.getElementsByClassName('is-favorite')[0].value == "True" ? true : false;
        console.log("is activity favorite ", isFavorite)

        const matchesSearch = title.includes(searchQuery);
        const matchesTypeFilter = selectedType === '' || selectedType === activityType;
        const matchesFavoriteFilter = isFavorite || !onlyFavorites

        if (matchesSearch && matchesTypeFilter && matchesFavoriteFilter) {
          card.style.display = '';
        } else {
          card.style.display = 'none';
        }
      });
    }

    searchInput.addEventListener('input', filterActivities);
    typeFilter.addEventListener('change', filterActivities);
    favoriteFilter.addEventListener('change', filterActivities)
  });

      // AJAX form submission
      document.querySelectorAll('.favorite-form').forEach(form => {
        form.addEventListener('submit', function(event) {
          event.preventDefault();

          const formData = new FormData(this);
          const url = this.action;
          const csrfToken = this.querySelector('[name=csrfmiddlewaretoken]').value;
          const favoriteBtn = this.querySelector('.favorite-btn');

          fetch(url, {
            method: 'POST',
            headers: {
              'X-CSRFToken': csrfToken,
              'Accept': 'application/json',
            },
            body: formData
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              // Toggle the heart icon
              favoriteBtn.classList.toggle('favorite');
            } else {
              console.error('Error:', data.error);
            }
          })
          .catch(error => console.error('Error:', error));
        });
      });


</script>
{% endblock content %}

